@{
    ViewData["Title"] = "Change Config";
}

@model HelloWorld.Models.Alert

<div class="text-center">
    <h1 class="display-4">Configuration</h1>
</div>

@* <form asp-action="AlertForm" asp-controller="Home">
    <label >Publish Date</label>
    <input class="form-control" type="date" asp-for="PublishDate"/>
    
    <label class="mt-4">Expiration Date</label>
    <input class="form-control" type="date" asp-for="ExpDate" />
    
    <label class="mt-4">Message</label>
    <input class="form-control" type="text" placeholder="Type your message" asp-for="Message" />
    
    <label class="mt-4">Link</label>
    <input class="form-control" type="url" placeholder="Add a link" asp-for="Link" />

    <button class="btn btn-outline-primary mt-4" type="submit">Submit</button>
</form> *@